/*  __  __               ______            __             __
  / / / /_______  _____/ ____/___  ____  / /____  ____  / /_   _______________
 / / / / ___/ _ \/ ___/ /   / __ \/ __ \/ __/ _ \/ __ \/ __/  / ___/ ___/ ___/
/ /_/ (__  )  __/ /  / /___/ /_/ / / / / /_/  __/ / / / /_   / /__(__  |__  )
\____/____/\___/_/   \____/\____/_/ /_/\__/\___/_/ /_/\__/   \___/____/____/  */

@import "nord.css";

@-moz-document url("about:newtab") {
    body {
        --newtab-background-color:          var(--nord0) !important;
        --newtab-topsites-background-color: var(--nord1) !important;
        --newtab-textbox-background-color:  var(--nord1) !important;
        --newtab-text-primary-color:        var(--nord4) !important;
        --newtab-card-background-color:     var(--nord1) !important;
        --newtab-icon-primary-color:        var(--nord4) !important;
        --newtab-link-primary-color:        var(--nord9) !important;
        --newtab-search-icon-color:         var(--nord4) !important;
        --newtab-text-secondary-color:      var(--nord5) !important;
        --newtab-contextmenu-background-color: var(--nord1) !important;
        --newtab-contextmenu-button-color:  var(--nord2) !important;
        --newtab-section-header-text-color: var(--nord5) !important;
    }
}
