/*                    ____ _
 _   _ ___  ___ _ __ / ___| |__  _ __ ___  _ __ ___   ___
| | | / __|/ _ | '__| |   | '_ \| '__/ _ \| '_ ` _ \ / _ \
| |_| \__ |  __| |  | |___| | | | | | (_) | | | | | |  __/
 \__,_|___/\___|_|   \____|_| |_|_|  \___/|_| |_| |_|\___|
*/

@import url("vars.css");

:root {
  --uc-titlebar-padding: 0;
  /* Menu colours */
  --arrowpanel-background: var(--bg0) !important;
  --arrowpanel-color: var(--text) !important;
  /* Rounder tabs */
  --tab-border-radius: 15px !important;
  /* Tab colour */
  --lwt-selected-tab-background-color: var(--bg1) !important;
  /* Link colour */
  --urlbar-popup-url-color: var(--nord8) !important;
  /* Selected urlbar autocomplete option colour */
  --autocomplete-popup-highlight-background: var(--nord9) !important;
  /* Colour of loading */
  --tab-loading-fill: var(--nord8) !important;
  /* Colour of icons */
  --toolbarbutton-icon-fill-attention: var(--nord8) !important;
}

:root[sizemode="maximized"][tabsintitlebar] {
  --uc-titlebar-padding: 8px;
}

.titlebar-buttonbox-container {
  position: fixed;
  display: block;
  top: var(--uc-titlebar-padding, 0);
  right: 0;
  height: 40px;
}

:root[uidensity="compact"] .titlebar-buttonbox-container {
  height: 32px;
}

#toolbar-menubar[inactive] > .titlebar-buttonbox-container {
  opacity: 0;
}

#navigator-toolbox {
  padding-top: var(--uc-titlebar-padding, 0) !important;
}

.titlebar-buttonbox-container > .titlebar-buttonbox {
  height: 100%;
}

#titlebar {
  -moz-box-ordinal-group: 2;
  -moz-appearance: none !important;
}

.titlebar-placeholder,
#TabsToolbar .titlebar-spacer {
  display: none;
}

/* Also hide the toolbox bottom border which isn't at bottom with this setup */
#navigator-toolbox::after {
  display: none !important;
}

@media (-moz-gtk-csd-close-button) {
  .titlebar-button {
    -moz-box-orient: vertical;
  }
}

/* Disable certain elements */
.tab-line,
#tracking-protection-icon-container,
#pocket-button,
.tabbrowser-tab::before,
.tabbrowser-tab::after,
.extensionPage {
  display: none !important;
}

/* Toolbar */
#nav-bar,
#navigator-toolbox,
.browser-toolbar {
  background-color: var(--bg0) !important;
}

#navigator-toolbox {
  border-bottom: none !important;
}

/* Tabs */

/* Make tabs tall */
/* #tabbrowser-tabs { */
/*   --tab-min-height: 38px !important; */

/*   margin-left: 0 !important; */
/*   height: 40px !important; */
/* } */

/* Make tabs long */
.tabbrowser-tab[fadein]:not([pinned]) {
  max-width: none !important;
}

/* /1* No idea what this does but things break when i remove it *1/ */
/* .tabbrowser-tab { */
/*   border-width: 0 !important; */
/* } */

/* Tab colours */
.tabbrowser-tab {
  --identity-icon-color: #fff0 !important;

  color: var(--text) !important;
}

/* Centers tab text */
.tab-content:not([pinned])::before {
  display: -moz-box;
  content: "";
  -moz-box-flex: 1;
}

.tab-loading-burst {
  display: none;
}

/* /1* Replace favicon on tabs with close button on hover *1/ */

/* .tabbrowser-tab:not(:hover) .tab-close-button { */
/*   display: none; */
/* } */
/* .tabbrowser-tab:not([pinned]):hover .tab-close-button { */
/*   display: block !important; */
/* } */

/* .tabbrowser-tab:not([pinned]):hover .tab-icon-image { */
/*   display: none !important; */
/* } */

/* .tabbrowser-tab:hover .tab-throbber, */
/* .tabbrowser-tab:hover .tab-icon-image, */
/* .tabbrowser-tab:hover .tab-sharing-icon-overlay, */
/* .tabbrowser-tab:hover .tab-icon-overlay, */
/* .tabbrowser-tab:hover .tab-label-container, */
/* .tabbrowser-tab:hover .tab-icon-sound { */
/*   -moz-box-ordinal-group: 2 !important; */
/* } */

/* .tabbrowser-tab .tab-close-button { */
/*   margin-left: -2px !important; */
/*   margin-right: 4px !important; */
/* } */

/* urlbar */
#urlbar {
  transform: translateY(2px) !important;
}

#urlbar-background {
  color: var(--bg0) !important;
  background-color: var(--bg0) !important;
  border-radius: 1em !important;
}

#urlbar-background,
#searchbar {
  box-shadow: none !important;
}

#nav-bar {
  --lwt-toolbar-field-border-color: var(--bg0);
  --toolbar-field-focus-border-color: var(--nord8);
}

#star-button[starred] {
  fill: var(--nord8) !important;
}
