@import url('tabs_on_bottom_v2.css');

/* Hide the line between the new tab button and the tabs */
#tabbrowser-tabs {
	border-inline-start: none !important;
	margin-inline-start: 0 !important;
}

#navigator-toolbox {
	border-bottom: none !important;
}
